*.iso
*.iso.sha256
variables.env
variables.env.old
*user-data
*content-bundle.tar
config.yaml
overlay/files-iso/config.yaml
overlay/files-iso/opt/spectrocloud/content/*content.*
overlay/files-iso/opt/spectrocloud/content/spectro-content.tar.zst
overlay/files-iso/opt/spectrocloud/content/*-content.tar.zst
.arg
Dockerfile
